---
const today = new Date();
import GisLocationEasterEgg from './GisLocationEasterEgg.tsx';
---
<footer class="w-full max-w-5xl mx-auto px-4 py-8 border-t border-[#262626] flex items-center justify-between z-10 relative">
    <div class="flex items-center gap-6">
        <p class="text-sm text-neutral-500 font-light">&copy; {today.getFullYear()} RipZhouDi. GIS & Web Spatial Engineering.</p>
    </div>
    <div class="flex items-center gap-4 text-neutral-500 text-sm group">
        <GisLocationEasterEgg client:only="react" />
    </div>
</footer>
